<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>ATLAS</display-name>
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <!--connect-->
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>minka@2018</param-value>
    </context-param>
    <context-param>
        <param-name>host</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>database</param-name>
        <param-value>MINKA</param-value>
    </context-param>
    <context-param>
        <description>Si no es una conexion odbc ,entonces poner "none"</description>
        <param-name>uri</param-name>
        <param-value>none</param-value>
    </context-param>
    <!--connect-->
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>classic</param-value>
    </context-param>
    <context-param>
        <param-name>org.ajax4jsf.handleViewExpiredOnClient</param-name>
        <param-value>true</param-value>
    </context-param>
    <filter>
        <display-name>RichFaces Filter</display-name>
        <filter-name>richfaces</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>richfaces</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>organigramaempresa</servlet-name>
        <servlet-class>com.cofar.servlet.ServletArbol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>servletUsuarios</servlet-name>
        <servlet-class>com.cofar.servlet.ServletUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDetalleUsuario</servlet-name>
        <servlet-class>com.cofar.servlet.ServletDetalleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuariosAtlas</servlet-name>
        <servlet-class>com.cofar.servlet.ServletUsuariosAtlas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XlsServlet</servlet-name>
        <servlet-class>com.cofar.servlet.XlsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificacion</servlet-name>
        <servlet-class>com.cofar.servlet.ServletVerificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarDocumento</servlet-name>
        <servlet-class>com.cofar.servlet.MostrarDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarCopiaControladaMarca</servlet-name>
        <servlet-class>com.cofar.servlet.MostrarCopiaControladaMarca</servlet-class>
    </servlet>
    <mime-mapping>
        <extension>jsp</extension>
        <mime-type>text/jsf</mime-type>
    </mime-mapping>
    <servlet>
        <servlet-name>EnvioCorreoDesviacion</servlet-name>
        <servlet-class>com.cofar.servlet.EnvioCorreoDesviacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFirmaCertificadoCC</servlet-name>
        <servlet-class>com.cofar.servlet.ServletFirmaCertificadoCC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>organigramaempresa</servlet-name>
        <url-pattern>/organigramaempresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletUsuarios</servlet-name>
        <url-pattern>/servletUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDetalleUsuario</servlet-name>
        <url-pattern>/servletDetalleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuariosAtlas</servlet-name>
        <url-pattern>/ServletUsuariosAtlas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XlsServlet</servlet-name>
        <url-pattern>/xlsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificacion</servlet-name>
        <url-pattern>/ServletVerificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarDocumento</servlet-name>
        <url-pattern>/mostrarDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarCopiaControladaMarca</servlet-name>
        <url-pattern>/MostrarCopiaControladaMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvioCorreoDesviacion</servlet-name>
        <url-pattern>/EnvioCorreoDesviacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFirmaCertificadoCC</servlet-name>
        <url-pattern>/ServletFirmaCertificadoCC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>InitializeServlet</servlet-name>
        <servlet-class>com.cofar.servlet.ServletVerificacion</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/index.jsf</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/servlets/pdf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>filtroAccesoSistema</filter-name>
        <filter-class>com.cofar.filter.filtroAccesoSistema</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filtroAccesoSistema</filter-name>
        <url-pattern>*.jsf</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filtroAccesoSistema</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/errorPages/expired.jsf</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/errorPages/expired.jsf</location>
    </error-page>
    <error-page> 
        <exception-type>java.lang.Throwable</exception-type> 
        <location>/errorPages/technicalError.jsf</location> 
    </error-page> 
    <error-page>
        <error-code>500</error-code>
        <location>/errorPages/technicalError.jsf</location>
    </error-page>
</web-app>
